
body {
	background-color: #f6f4e6;
	color: #52575d;
	font-family: 'Roboto', sans-serif
	font-size: light;
	line-height: 1.4;
}
h1, h2{
	font-family: 'Poppins', sans-serif;
}
h1 {
	letter-spacing: 10;
	font-size: 32px
	color: #41444b;
	
}
h2{
	color:#41444b;
	font-weight: 490;
	font-size: 24px
}
a{
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight:bold;
	color: #fddb3a
	transition: color 0.3s ease;
}
a:hover{
	color: #41444b
	text-decoration: none;
}

.container{
	width: 700px
	margin: 40px auto;
}

.card-white{
	margin: 20px 0px;
    background-color: white;
    padding: 40px;
    border-radius: 4px;
    text-align: center;
}

.list-inline{
	list-style: none;
	padding-left: 0px
}

.list-inline li {
	display: inline;
	padding: 10px
}

.list-inline i:hover {
	font-size: 50px
	color: black;
}

.img-circle{
	border-radius: 50%
}

.btn-blue{
	background-color: blue
	padding: 15px 20px
	color: white;
}

.btn-blue:hover {
	background-color: black
	color:white;
}

#introduction p{
	margin-bottom: 40px
}